@charset "utf-8";
/* CSS Document */
 .bodt{
                background-color: floralwhite
            }
       .menu{
              width: 100%;
              background-color: gainsboro;
              color: black;
              height: 400px;
              font-size: 18px;
              border-radius: 10px;
           text-align:center
          }
.menu #logo{
              float: left;
              height: 30px;
              padding: 15px 30px;
              font-size: 1.2em;
              line-height: 30px;
              color:oldlace
              
          }
.menu > ul{
              margin: 0;
              padding: 0;
              float: left;
              list-style-type: none
    
          }
.menu > ul >li {
              float: left;
          } 
.menu-item{
              display: inline-block;
              padding: 15px 20px;
              height: 30px;
              line-height: 30px;
              color: black;
              text-decoration: none;
    
          }
.menu-item:hover{
              background-color: chartreuse;
              color: #000;
              border-radius: 15px 15px;
    
          }
.sub-contect{
              position: absolute;
              padding-top: 0;
              overflow: hidden;
              background-color: #333;
              max-height:0;
    text-align: center
            }
            .g{
                float:right
            }
            .v{
                margin-top: 100px;
                font-size: 50px;
                line-height: 50px;
                font-weight: 800;
                font-variant: small-caps;
                color: #900;
                letter-spacing: 3px;
                text-shadow: 3px 3px 5px
            }
            .c{
                text-align:center 
            }
            div.n,.k,.y,.yy,.yyy{
        width: 150px;
        height: 150px;
        margin: 140px;
        margin-top: -50px;
        line-height: 130px;
        text-align: center;
        transition: all .20s ease-in-out;
        background-image: none
    
        
        
    }
    
div.n,.k,.y{list-style: none;display: inline-block;padding: 30px;margin:-20 -20 -200 90px}
         

    .n{
       color: black;
          
       }
    
.n:hover{
        opacity: .5;
        transform: rotateZ(40deg)
        }
    
    .k{
       color: black;
        
       }
    
.k:hover{
        opacity: .5;
        transform: rotateZ(360deg)
        }
    
.y{
        color: black;
        
        
       }
    
.y:hover{
        opacity: .5;
        transform: rotateZ(40deg)
        }
    .bg-1 {
      background:white;
      color: #bdbdbd;
        border: 5px solid black
  }
            .qw{
                background-color:dodgerblue;
                
            }
            .tt{
                background-color: darkgray;
                margin-left: 30px;
                float: right
            }   
            .z{
                background-color: darkgray;
                margin-left: 30px;
                float: right;
                margin-top: -299
            }
            .xc{
                 font-size: 50px;
                line-height: 50px;
                font-weight: 800;
                font-variant: small-caps;
                color: #900;
                letter-spacing: 3px;
                text-shadow: 3px 3px 5px;
                text-align: left 
            }
            .rt{
                margin-top: 1;
                float: right;
                background-color: darkgray
            }
           
            .ff{
               
                margin-top: 100px;
                font-size: 100px;
                line-height: 100px;
                font-weight: 800;
                font-variant: small-caps;
                color: #900;
                letter-spacing: 3px;
                text-shadow: 3px 3px 5px;
                background-color: darkgray
            
			}

